<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h1>업로드</h1>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="img1" class="form-label">파일 1</label>
            <input type="file" th:name="img1" accept="image/jpeg, image/png, image/gif" >
        </div>
        <div class="mb-3">
            <label for="img2" class="form-label">파일 2</label>
            <input type="file" th:name="img2" accept="image/jpeg, image/png, image/gif" >
        </div>

        <button type="submit" class="btn btn-primary">업로드</button>
    </form>
</div>
</html>